# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo

linux/out
linux/build
linux/rkbin
linux/u-boot
linux/kernel

bsd/build
bsd/cheribuild
bsd/freebsd
bsd/netbsd

bsd/firmware/arm-trusted-firmware
bsd/firmware/u-boot
bsd/firmware/output

*.img
*.tar.xz
*.itb
*.bin